//  section Landing:

.landing{
    background-image: url(../images/image\ 1.png);
    max-width: 1770px;
    min-height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    &__title, &__prgh{
        color: #FFF;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        line-height: 26px; /* 118.182% */
       
        }
    &__prgh{
        font-weight: 400;
        font-size: 22px; 
        letter-spacing: 6.82px; 
        }   
    &__title{
            font-weight: 700;
            font-size: 48px;
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    // Landing Form :
    
        &__form{

            &__searchbar{
                width: 503px;
                min-height: 63px;
                fill: #FFF;
                text-align: center;
                color: #999;
                text-align: center;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 185.714% */
                letter-spacing: 2.8px;
                &:hover{
                    border: 3px solid #5474FD;
                    background-color: #d4d4d4;
                }
                &:focus{
                    background-color: #999;
                }
                
            }
            &__searchbtn{
                width: 153px;
                min-height: 63px;
                background-color: #5474FD;
                border: 4px solid #FFF;
                stroke: #FFF;
                cursor: pointer;
                color: #FFF;
                text-align: center;
                font-family: 'Aleo', serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 185.714% */
                letter-spacing: 1.4px;
                text-transform: uppercase;
                &:hover{
                    border: 4px solid #5474FD;
                    letter-spacing: 5px;
           
                }
                &:focus{
                    background-color: #293b8c;
                }
            }
        }
        &__txt{
            width: 123px;
            color: #FFF;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 185.714% */
            letter-spacing: 2.8px;
        }
}
.fa-magnifying-glass{
    margin-left: 5px;
}
.fa-chevron-down:hover{
 transform: translateY(-4px);
 transition:0.3s;
 animation-play-state: paused;
}
